<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ayuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let pregunta of preguntas" (click)="verPregunta(pregunta)">
      <h2> {{ pregunta.pregunta }} </h2>
    </ion-item>
  </ion-list>
</ion-content>
