page-login {
    .itemLogin{
        margin-bottom: 15px !important;
        border-radius: 30px;
    }

    .logoLogin{
        max-width: 180px !important;
        margin-top:15%;
    }

    .icono_check{
        font-size: 150px;
        color: green;
    }
}
