<ion-content text-center class="fondo_vinotinto" padding>
  <img src="../../assets/imgs/logo.jpg" class="logoLogin">
  
  <ion-list>
    <ion-item class="itemLogin">
      <ion-input type="text" [(ngModel)]="formData.email" (keyup.enter)="login()" placeholder="Correo Electrónico"
        text-center></ion-input>
    </ion-item>
  
    <ion-item class="itemLogin">
      <ion-input type="password" [(ngModel)]="formData.password" (keyup.enter)="login()" type="password" placeholder="Contraseña"
        text-center></ion-input>
    </ion-item>
  
    <ion-label (click)="pagina(restauracionPage)" color="amarillo"> ¿Olvidó su contraseña? </ion-label>
  </ion-list>
  
  
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <button ion-button [disabled]="formData.email.length < 3 || formData.password.length < 3" (click)="login()" color="light"
          outline>
          Iniciar Sesión
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row align-items-center>
      <ion-col>
        <button ion-button (click)="pagina(registroUsuarioPage)" color="primary">
          No tengo cuenta
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>