<ion-content text-center class="fondo_vinotinto" padding>
  <img src="../../assets/imgs/logo.jpg" class="logoLogin">
  
  <h4 class="letra_amarilla"> Restauración de Contraseña </h4>
  
  <ion-list>
    <ion-item class="itemLogin">
      <ion-input type="text" [(ngModel)]="formData.email" (keyup.enter)="recuperar_contrasena()" placeholder="Correo Electrónico"
        text-center></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <button ion-button [disabled]="formData.email.length < 3" (click)="recuperar_contrasena()" color="light" outline
          style="margin-bottom:10px;">
          Recuperar Contraseña
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row align-items-center>
      <ion-col>
        <button ion-button (click)="ir_login()" color="primary">
          Ir al Inicio
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
