<ion-header>

  <ion-navbar>
    <ion-title text-center> Viajes Activos  </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes | async" (click)="buscarViaje(viaje)" [class]="getClassItemStatus(viaje.status)">
      <ion-avatar item-start>
        <img [src]="getImgVehiculo(viaje.solicitud_tipo_vehiculo_id)">
      </ion-avatar>
      <h2> {{ viaje.key }} {{ viaje.lugar_destino }} </h2>
      <p> {{ viaje.fecha_viaje }} </p>
    </ion-item>
  </ion-list>

</ion-content>

