<!--
  Generated template for the CambiarclavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Contraseña anterior</ion-label>
            <ion-input [(ngModel)]="formData.old_password" type="password" name="old_password" placeholder="Contraseña anterior"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Contraseña nueva</ion-label>
            <ion-input [(ngModel)]="formData.password" type="password" name="password" placeholder="Contraseña nueva"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Repita la contraseña nueva</ion-label>
            <ion-input type="password" [(ngModel)]="formData.c_password" name="c_password" placeholder="Repita la contraseña nueva"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list >
          <ion-item class="item-button">
            <button class="button-form" (click)="saveClave()" ion-button round>Enviar</button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
