page-perfil {
    .letras-grises{
        color: #a5a0a0;
        float: left;
        width: 100%; 
        margin: 21px 8px 13px 0 !important;
        font-size: 12px;
    }
    .titulos{
        color: #000;
        font-weight: bold; 
        float: left;
        width: 100%;
        margin: 21px 8px 13px 0 !important; 
    }
}
