<ion-header>

  <ion-navbar color="primary">
    <ion-title>Perfil de Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="irMisDatos()">
        <ion-label class="titulos">Mis Datos</ion-label>
        <ion-label class="letras-grises">Editar email, Nombres...</ion-label> 
     
    </ion-item>
    <ion-item (click)="irCambiarClave()">
        <ion-label class="titulos">Cambiar mi Contraseña</ion-label>
        <br>
        <ion-label class="letras-grises">Editar contraseña.</ion-label> 
     
    </ion-item>
    
  </ion-list>
  
</ion-content>
