<ion-header>

  <ion-navbar color="primary">
    <ion-title> {{ pregunta.pregunta }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h4> {{ pregunta.respuesta }} </h4>
</ion-content>
