<!--
  Generated template for the MisdatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mis Datos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-icon name="camera" class="camara" (click)="getPicture()"></ion-icon>
      </ion-col>
      <ion-col col-4 class="div-foto">
        <img [src]="image" *ngIf="image" class="div-foto" />
        <!--<img src="http://lorempixel.com/500/500/food" class="imagen" />-->
      </ion-col>
      <ion-col col-4>
        <ion-icon name="checkmark-circle" (click)="uploadImage()"></ion-icon>
      </ion-col>
      

      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Nombres</ion-label>
            <ion-input [(ngModel)]="datosUsuario.name" name="name" placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Apellidos</ion-label>
            <ion-input [(ngModel)]="datosUsuario.surname" name="surname" placeholder="Apellidos"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input [(ngModel)]="datosUsuario.email" name="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label color="primary" stacked>DNI</ion-label>
            <ion-input [(ngModel)]="datosUsuario.dni" name="dni" placeholder="DNI"></ion-input>
          </ion-item>
        </ion-list>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-col col-12>
          <ion-item>
            <ion-label color="primary" stacked>Telefono</ion-label>
            <ion-input [(ngModel)]="datosUsuario.tlf" name="tlf" placeholder="Telefono"></ion-input>
          </ion-item>  
        </ion-col>
      </ion-list>
      <ion-col col-12>
        <ion-list>
          <ion-item class="item-button">
            <button class="button-form" ion-button round (click)="saveDatos()">Enviar</button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
