page-misdatos {
    .div-foto{
        border:1px solid #d4c5c5;
        height: 188px;
    }
    .camara{
        font-size: 49px;
        display: block;
        margin: 32px;
    }
    .imagen{
        width: 100%;
        height: 180px;
    }
}
