<ion-header>

  <ion-navbar color="primary">
    <ion-title> Mis Viajes </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="car" tabTitle="Viajes Actuales" [root]="tabActuales"></ion-tab>
    <ion-tab tabIcon="clock" tabTitle="Historial" [root]="tabHistorial"></ion-tab>
  </ion-tabs>
</ion-content>
