page-mapa {
  .oculto{display: none;}
   #map{
    width: 100%;
    height: 100%;

    .gmnoprint, .gmnoscreen, .gm-style-cc{display: none;}
  }

  #map.buscando{
    height: 55%;
  }

  #btnOpciones{
    border: 1px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    font-size: 15pt;
    height: 40px;
    margin: 10px;
    padding: 10px 12px;
    width: 40px;
  }

  #div_busqueda{
    max-height: 45%;
    overflow: auto;

    .vehiculo_seleccionado, .pago_seleccionado{
      background: #F0F0F0 !important;
      font-weight: bold
    }

    #btnVehiculo{
      padding: 15px;
      font-size: 13pt;
    }
  }

  #input_autocomplete{
    width: 100%;
    height: 45px;
    padding: 10px;
  }

  .pac-item{
    padding: 5px;
  }

  .pac-logo:after{
    background-image: none;
  }


}
