<ion-header>
  <ion-navbar color="primary">
    <ion-icon name="menu" menuToggle id="btnOpciones"></ion-icon>
    <input type="text" [(ngModel)]="autoCompleteValue" id="input_autocomplete" name="input_autocomplete" placeholder="¿A donde quieres ir?" (keypress)="escribirAutoc()" >
  </ion-navbar>
</ion-header>

<ion-content color="primary">
  <div id="map" [class.buscando]="buscando"></div>

  <div id="div_busqueda" *ngIf="buscando">
    
    <ion-slides pager>
      <ion-slide padding zoom="false">
        <ion-list>
          <ion-item style="font-weight:bold;"> ¿ Que tipo de servicio quieres ? </ion-item>
        
          <ion-item *ngFor="let v of vehiculos;" [class.vehiculo_seleccionado]="isSelectedVehiculo(v)" (click)="seleccionarVehiculo(v)">
            <ion-avatar item-start>
              <img src="../../assets/imgs/tipos_vehiculos/{{ v.logo }}" />
            </ion-avatar>
            <h2>{{ v.nombre }} </h2>
            <p> {{ precioFormateado(v.factor_precio) }} {{ simboloMoneda }} - <i> {{ viaje.distanciaTotal }} Km </i> </p>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item style="font-weight:bold;"> ¿ Cómo quieres pagar ? </ion-item>

          <ion-item *ngFor="let pago of formas_pago;" [class.oculto]="!pago.activo" [class.pago_seleccionado]="isSelectedPago(pago)" (click)="seleccionarPago(pago)">
            <ion-row>
              <ion-col col-1>
                <ion-icon name="{{ pago.logo }}"></ion-icon>
              </ion-col>
              <ion-col col-11>
                {{ pago.nombre }}
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="viaje.msj_conductor" type="text" value="" placeholder="Mensaje al Conductor (opcional)"></ion-input>
          </ion-item>

          <ion-item>
            <button id="btnVehiculo" #btnVehiculo ion-button block large text-center color="primary" (click)="solicitarViaje()">
              Solicitar viaje
            </button>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>

    
  </div>
</ion-content>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="fondo_vinotinto"> Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-item (click)="abrirPagina(perfilPage)">
            <h2>Perfil</h2>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-item (click)="abrirPagina(ayudaPage)">
            <h2> Ayuda </h2>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-item (click)="abrirPagina(misViajesPage)">
            <h2> Mis Viajes </h2>
          </button>
        </ion-col>
      </ion-row>

      <ion-row style="position: fixed; bottom: 0px;">
        <ion-col align-self-end>
          <button ion-item (click)="cerrar_sesion()" class="letra_vinotinto">
            Cerrar Sesión
            <ion-icon ios="ios-exit-outline" md="md-exit" style="margin:5px;"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>