@import '../../theme/variables.scss';

page-modaldetalleviaje {
    .titulo_detalle{
        font-family: 'Roboto', sans-serif !important;
        font-size: 15pt;
        padding: 5px;
    }

    .descripcion_detalle{
        font-family: 'Roboto', sans-serif !important;
        font-size: 12pt;
        padding: 5px;
    }

    #gridChat{
        position: absolute;
        bottom: 0px;
    }

    .chat{
        max-height: 240px;
        overflow-y: auto;

        #input_msj{
            .text-input{
                border: 1px solid $gris_claro;
                min-height: 35px;
                max-height: 70px;
                resize: none;
                overflow: hidden; 
                float: left;
                width: 70%;
            }
        }

        .msjchat{
            padding: 15px;
            margin: 10px;
            width: 75%;
            border-radius: 25px;

            .msj_fecha{
                font-size: 8pt;
            }
            
            .msj_texto{
                font-size: 13pt;
                font-weight: bold;
            }

        }

        .msj_usuario{
            background-color: $vinotinto;
            color: $light;
            float: right;
            div{
                
                text-align: right;
            }
        }

        .msj_destinatario{
            background-color: $gris_claro;
            float: left;
            div{
                text-align: left;
            }
        }
    }
}
