<ion-header>

  <ion-navbar color="primary">
    <ion-title> Detalle del Viaje </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="buscando">
    Buscando detalles del viaje...
  </div>
  <div *ngIf="!buscando">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-2 class="fuente_negrita titulo_detalle">
          <img src="../../assets/imgs/tipos_vehiculos/{{ viaje_vehiculo.logo }}" />
        </ion-col>
        <ion-col col-5 class="fuente_negrita titulo_detalle">
          {{ viaje_vehiculo.nombre }}
        </ion-col>
        <ion-col col-4 text-right>
          <button ion-button (click)="cancelarViajeUsuario(viaje.key)" color="primary" *ngIf="viaje.status == 0">
            Cancelar Viaje
          </button>
          
          <button ion-button (click)="pagarPaypal(viaje)" color="secondary" *ngIf="viaje.status == 3 && viaje.tipos_pagos_id == 2">
            Pagar Paypal
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-right>
          <h5>{{ viaje.fecha_viaje }}</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3 class="fuente_negrita titulo_detalle">
          Destino:
        </ion-col>
        <ion-col col-9 class="descripcion_detalle"> {{ viaje.lugar_destino }} </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col col-3 class="fuente_negrita titulo_detalle">
          Estatus:
        </ion-col>
        <ion-col col-9 class="descripcion_detalle"> {{ viaje_status.nombre }} </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid id="gridChat">
      <ion-row>
        <ion-col text-center>
          <h1 text-center style="margin: 0px;">
            <ion-icon name="chatbubbles"></ion-icon>
          </h1>
          <span> Conversación </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding>
          <div id="contenedorChat" class="chat">
            <div *ngFor="let chat of chats | async" [class]="getClassMsjChat(chat)">
              <div class="msj_fecha"> {{ chat.created_at }} </div>
              <div class="msj_texto"> {{ chat.mensaje }} </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-10>
          <ion-input id="input_msj" [(ngModel)]="input_msj" (keyup.enter)="enviarMsj()" placeholder="Mensaje"></ion-input>
        </ion-col>
        <ion-col col-2>
          <button ion-button (click)="enviarMsj()" *ngIf="!enviando">
            <ion-icon name="send"></ion-icon>
          </button>
          <img src="../../assets/imgs/loading.gif" *ngIf="enviando" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  

</ion-content>
