@import '../theme/variables.scss';

.fondo_vinotinto{
    background-color: $vinotinto !important;
}

.fondo_blanco{
    background-color: $light;
}

.letra_amarilla{
    color: $amarillo;
}

.letra_vinotinto{
    color: $vinotinto;
}
.button-form{
    padding: 18px !important;
}
.item-button{
    text-align: center
}

.solicitud_enviada{
    background-color: #fff6c945;
}
.solicitud_cancelada{
    background-color: #fdf4f28c;
}
.solicitud_aceptada{
    background-color: #e0e0e0;
}
.solicitud_finalizada{
    background-color: #d4e4b466;
}

.fuente_negrita{
    font-weight: bold;
}