<ion-content text-center class="fondo_vinotinto" padding>
  <ion-list>
    <img src="../../assets/imgs/logo.jpg" class="logoLogin">
  
    <h3 style="color: #f6fdd4">Registro de Usuario</h3>
  
    <ion-item>
      <ion-input type="text" [(ngModel)]="formData.name" placeholder="Nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" [(ngModel)]="formData.surname" placeholder="Apellido"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" [(ngModel)]="formData.email" placeholder="Correo Electrónico"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" [(ngModel)]="formData.password" placeholder="Contraseña"></ion-input>
      <ion-input type="password" [(ngModel)]="formData.password_confirmation" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Seleccione pais</ion-label>
      <ion-select [(ngModel)]="formData.pais_id">
        <ion-option [value]="pais.id" *ngFor="let pais of paises">{{ pais.nombre }}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label (click)="mostrar_modal_terminos()" color="azul_link">
        <h5> Acepto los términos y condiciones </h5>
      </ion-label>
      <ion-toggle color="vinotinto" [(ngModel)]="formData.terms" float-left></ion-toggle>
    </ion-item>
  </ion-list>
  
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <button ion-button [disabled]="!formData.terms" block (click)="registrar()" color="light" outline>
          Registrar
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row align-items-center>
      <ion-col>
        <button ion-button (click)="ir_login()" color="primary">
          Ir al Inicio
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
