<ion-header>

  <ion-navbar>
    <ion-title text-center> Historial </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes" (click)="buscarViaje(viaje)" [class]="getClassItemStatus(viaje.status)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/tipos_vehiculos/{{ viaje.solicitud_tipo_vehiculo_id }}.png">
      </ion-avatar>
      <h2> {{ viaje.lugar_destino }} - status: {{ viaje.status }}</h2>
      <p> {{ viaje.fecha_viaje }} </p>
    </ion-item>
  </ion-list>
</ion-content>
